{% extends "website/base_template.html" %}

{% block body %}
<h2>Contracts</h2>

{% if contract_list %}
  <table class="table table-sm main-table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Buyer</th>
        <th scope="col">Seller</th>
        <th scope="col">Delivery Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr>
          <td>{{ contract.product }}</td>
          <td>${{ contract.price }}</td>
          <td>{{ contract.buyer }}</td>
          <td>{{ contract.seller }}</td>
          <td>{{ contract.end_date }}</td>
          <td>
            <a href="{% url 'buy_contract' contract.id %}">Buy</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No contracts found.</p>
{% endif %}
{% endblock %}

{% block style %}
{% endblock %}