{% extends "website/base_template.html" %}

{% block body %}
<h1>Contracts{% if product %}: {{ product.name}}{% endif %}</h1>

{% if contract_list %}
  <table class="table table-sm main-table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Buyer</th>
        <th scope="col">Seller</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr class="table-body">
          <td class="product-name">{{ contract.product }}</td>
          <td>${{ contract.price }}</td>
          <td>{{ contract.buyer }}</td>
          <td>{{ contract.seller }}</td>
          <td>{{ contract.end_date }}</td>
          <td>
            <button type="button" class="table-button btn" style="width:159.547px;">
              <a href="{% url 'buy_contract' contract.id %}">{{ contract.purchase_action }}</a>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="login-alert alert alert-danger" role="alert">
    No available contracts found.
  </div>
{% endif %}
{% endblock %}

{% block style %}
{% endblock %}