{% extends "website/base_template.html" %}

{% block body %}
<h2>Contracts</h2>

{% if contract_list %}
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Delivery Date</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr>
          <td>{{ contract.product }}</td>
          <td>{{ contract.end_date }}</td>
          <td>
            <a href="{% url 'buy_contract' contract.id %}">Buy</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No contracts found.</p>
{% endif %}
{% endblock %}