{% extends "website/base_template.html" %}
    {% block body %}
      <div style="background:url('../../static/Image.png');
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
"></div>
      <div>
          <p style="font-weight: 500;font-size: 48px;line-height: 56px;">Welcome to the Futures Contracts Marketplace</p>
         <br><br><br> <p style="font-weight: 500;font-size: 24px;line-height: 28px;">Market participants (players) include:</p>

            <ul>
                <li  style="color:white;">Institutions</li>
                <li  style="color:white;">Farmers</li>
                <li  style="color:white;">Agro Industries (Manufucturers)</li>
                <li  style="color:white;">Retailers (Almost expired/Expired)</li>
                <li  style="color:white;">Individuals.. Peer to Peer</li>
            </ul>

        </p>

        <br>
        <p style="font-weight: 500;font-size: 24px;line-height: 28px;">Our Goals for “Afect the Cause” 2019 Hackathon</p>

            <ul>
                <li style="color:white;" >Reduce Food waste</li>
                <li style="color:white;" >Dispose of waste responsibly</li>
                <li style="color:white;" >Recycle waste</li>
                <li style="color:white;" >Create a sustainable environment</li>
                <li style="color:white;" >Provide a guarantee for the purchase of by-products at a (current / future / Agreed upon ) price / date</li>
            </ul>

        <br>
        <p style="font-weight: 500;font-size: 24px;line-height: 28px;">Benefits of this system</p>
        <ul>
            <li style="color:white;" >Avail working capital
            <li style="color:white;" >Increase/Improve the market and market accessibility
            <li style="color:white;" >Hedge risk
            <li style="color:white;" >Central place for inputs and outputs
            <li style="color:white;" >Good vibes for the environment: | Manage food waste | Recycle food waste | Use waste and inputs in other industries | Donate food to needy & non profits | Make Profit
        </ul>


        <br>
          <p style="font-weight: 500;font-size: 24px;line-height: 28px;">Types of market place transactions</p>
          <ul>
              <li style="color:white;" >bid on item auction style.</li>
              <li style="color:white;" >open a contract on an item (guarantee to purchase item at future date)</li>
              <li style="color:white;" >open a contract on an item (purchase item at CURRENT price for guarantee to receive item at future date)</li>
              <li style="color:white;" >open a contract on an item (purchase item at AGREED price for guarantee to receive item at future date)</li>
          </ul>



      </div>
    {% endblock %}