{% extends "website/base_template.html" %}

{% block body %}
  <h1>Products</h1>

  {% if product_list %}
    <table class="table table-sm main-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Market Price</th>
          <th scope="col">Change</th>
          <th scope="col">Expiration</th>
          <th scope="col">Default Quantity</th>
          <th scope="col">Unit</th>
          <th scope="col">Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr class="table-body">
            <td class="product-name">{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.change }}</td>
            <td>{{ product.expires_at }}</td>
            <td>{{ product.default_quantity }}</td>
            <td>{{ product.unit }}</td>
            <td>
              <button type="button" class="table-button btn">
                <a href="/products/{{ product.id }}/contracts/new">Create Contract</a>
              </button>
            </td>
            <td>
              <button type="button" class="table-button btn">
                <a href="{% url 'contract_list'  %}?product={{ product.id }}">View Contracts</a>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="login-alert alert alert-danger" role="alert">
      No available products found.
    </div>
  {% endif %}
{% endblock %}

