{% extends "website/base_template.html" %}

{% block body %}
  <h2>Products</h2>

  {% if product_list %}
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Expiration</th>
          <th scope="col">Price</th>
          <th scope="col">Unit</th>
          <th scope="col">Default Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.expires_at }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.default_quantity }}</td>
            <td><a href="/products/{{ product.id }}/contracts/new">[ + ]</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products found.</p>
  {% endif %}
{% endblock %}